# Node dependencies & build outputs
**/node_modules
**/dist
frontend/.next
frontend/out

# Environment files & secrets
.env
.env.*
!.env.example
!.env.*.example

# Docker, Git, & Local Volumes
.git
.github
docker-volumes/
.dockerdata/
*.log
